## Imports

In [25]:
import configparser
import pandas as pd
import numpy as np
import boto3
import s3fs
import os
from tqdm import tqdm
from time import time
from sqlalchemy import create_engine

In [64]:
def stage_global_temperatures():
    '''
    Staging of temperature data into temperature_staging table
    '''
    table = "temperature_staging"
    
    config = configparser.ConfigParser()
    config.read('../config.cfg')
    
    #s3 = boto3.client(
    #    's3',
    #    region_name='eu-central-1',
    #    aws_access_key_id=config['AWS']['KEY'],
    #    aws_secret_access_key=config['AWS']['SECRET']
    #)
    # 
    #s3_path = s3.get_object(Bucket='world-development', Key='input_data/GlobalLandTemperaturesByCountry.csv')['Body']
    
    s3_path = '../data/GlobalLandTemperaturesByCountry.csv'
    
    db_prop = config['POSTGRESQL']
    user = db_prop['username']
    password = db_prop['password']
    dbname = db_prop['dbname']

    engine_connection_string = f'postgresql://{user}:{password}@127.0.0.1:5432/{dbname}'
    engine = create_engine(engine_connection_string)


    df = pd.read_csv(s3_path)
    
    print(f"Raw row count: {len(df)}.")

    check_cols_for_nan = ['dt', 'AverageTemperature', 'Country']
    print(f"Drop rows with nans in columns: {check_cols_for_nan}.")

    df_no_nans = df.dropna(subset=check_cols_for_nan)

    print(f"Count of non-nan rows: {len(df)}")

    # remove duplicate countries, remove regions that have been colonies in the past

    df_no_dup = df_no_nans[~df_no_nans['Country'].isin(
        ['Denmark', 'Antarctica', 'France', 'Europe', 'Netherlands',
         'United Kingdom', 'Africa', 'South America'])]

    df_no_dup = df_no_dup.replace(
        ['Denmark (Europe)', 'France (Europe)', 'Netherlands (Europe)', 'United Kingdom (Europe)'],
        ['Denmark', 'France', 'Netherlands', 'United Kingdom'])

    # add year column and change its type to int

    df_no_dup['year'] = df_no_dup['dt'].str[:4]
    df_no_dup_with_year = df_no_dup.astype({'year': 'int32'})

    # aggregate (mean) temp and uncertainty by year and country

    surface_temp_by_year_and_country = df_no_dup_with_year \
                                            .groupby(['year', 'Country'],as_index=False) \
                                            .agg({ 'AverageTemperature': 'mean', \
                                                   'AverageTemperatureUncertainty': 'mean' \
                                             })
    
    

    surface_temp_by_year_and_country = surface_temp_by_year_and_country.rename(
        columns={"Country": "country_or_area", "AverageTemperature": "temperature",
                 "AverageTemperatureUncertainty": "uncertainty"})

    surface_temp_by_year_and_country.sample(5)
    #surface_temp_by_year_and_country.to_sql(table, engine, index=False, if_exists="replace")
    
    return surface_temp_by_year_and_country

df = stage_global_temperatures()

Raw row count: 577462.
Drop rows with nans in columns: ['dt', 'AverageTemperature', 'Country'].
Count of non-nan rows: 577462

In [65]:

# year_data = df[df['year'] == 1990]
# sorted_year_data = year_data.sort_values('temperature')
# sorted_year_data['rank'] = sorted_year_data['temperature'].rank(ascending=False)


# for i in sorted_year_data.index:
#     rank = sorted_year_data.at[i, 'rank']
#     print(rank)
#     df.at[i, 'rank'] = rank

In [71]:
df['year'].unique()

array([1743, 1744, 1745, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757,
       1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768,
       1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779,
       1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790,
       1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801,
       1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812,
       1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823,
       1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834,
       1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845,
       1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856,
       1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867,
       1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878,
       1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889,
       1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900,
       1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911,
       1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922,
       1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933,
       1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944,
       1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955,
       1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966,
       1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977,
       1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988,
       1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
       2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013])

In [68]:
df['rank'] = np.nan

for year in years:
    year_data = df[df['year'] == year]
    sorted_year_data = year_data.sort_values('temperature')
    sorted_year_data['rank'] = sorted_year_data['temperature'].rank(ascending=False)
    
    for i in sorted_year_data.index:
        rank = sorted_year_data.at[i, 'rank']
        df.at[i, 'rank'] = rank

In [70]:
df[df['year'] == 1991].head(100)

       year country_or_area  temperature  uncertainty   rank
38929  1991     Afghanistan    14.370750     0.411000  162.0
38930  1991         Albania    12.338833     0.322500  170.0
38931  1991         Algeria    23.011083     0.361083  122.0
38932  1991  American Samoa    27.171167     0.312000   30.0
38933  1991         Andorra    11.565417     0.243250  174.0
...     ...             ...          ...          ...    ...
39024  1991       Hong Kong    23.334750     0.242000  117.0
39025  1991         Hungary     9.680167     0.236583  190.0
39026  1991         Iceland     2.540083     0.316000  227.0
39027  1991           India    24.311750     0.185750  104.0
39028  1991       Indonesia    26.075167     0.186583   77.0

[100 rows x 5 columns]