# World Development Use Case

## Contents

### Part 1: # Questions only concerning temperature data
### Part 2: # Questions only concerning commodities data
### Part 3: # Questions using both temperature and commodity data

In [1]:
# import
import configparser
import pandas as pd
import numpy as np
from tqdm import tqdm
from time import time
from sqlalchemy import create_engine
from functools import reduce
import operator


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

## Database connection

In order to execute this code you need the target PostgreSQL DBs container IP-Address.
You get it entering:

```
> docker ps
# find the ID (first column) of the docker_db_1 container, make sure its images is form postgres:10.10-alpine
> docker inspect <ID-of-spark-master-container>
```

Now, set the value of the variable ip_adress to: IP-Address entry you find at the bottom of the output (in: "Networks" => ... => "IPAddress"L <IP_ADRESS>)

In [2]:
IP_ADDRESS = "172.25.0.3"

config = configparser.ConfigParser()
config.read('../config.cfg')

db_prop = config['POSTGRESQL']
user = db_prop['username']
password = db_prop['password']
dbname = db_prop['dbname']

engine_connection_string = f'postgresql://{user}:{password}@{IP_ADDRESS}:5432/{dbname}'
    
engine = create_engine(engine_connection_string)
conn = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

# Questions only concerning temperature data

## What where the hottest contries for all years in DB?

In [22]:
query = """SELECT t.year, c.country_or_area 
           FROM temperatures t JOIN 
                country_or_area c ON t.country_or_area_id = c.country_or_area_id
           WHERE t.rank = 1.0;
        """

df = pd.read_sql(query, conn)
df

     year           country_or_area
0    1743                San Marino
1    1744                    Greece
2    1745                     Spain
3    1750                    Greece
4    1751                    Greece
5    1752                    Greece
6    1753                   Tunisia
7    1754                   Tunisia
8    1755                   Tunisia
9    1756                   Tunisia
10   1757                   Tunisia
11   1758                   Bahamas
12   1759                   Bahamas
13   1760                   Tunisia
14   1761                   Tunisia
15   1762                   Tunisia
16   1763                   Tunisia
17   1764                   Tunisia
18   1765                   Tunisia
19   1766                   Tunisia
20   1767                   Tunisia
21   1768                   Bahamas
22   1769                   Bahamas
23   1770                   Bahamas
24   1771                   Bahamas
25   1772                   Tunisia
26   1773                   Bahamas
27   1774                   Tunisia
28   1775                   Bahamas
29   1776                   Bahamas
30   1777                   Bahamas
31   1778                   Tunisia
32   1779                   Tunisia
33   1780                   Tunisia
34   1781                   Tunisia
35   1782                   Tunisia
36   1783                   Tunisia
37   1784                   Tunisia
38   1785                   Tunisia
39   1786                   Tunisia
40   1787                Seychelles
41   1788                Seychelles
42   1789                Seychelles
43   1790                Seychelles
44   1791                Seychelles
45   1792                Seychelles
46   1793                   Algeria
47   1794                   Algeria
48   1795                   Algeria
49   1796                 Sri Lanka
50   1797                 Sri Lanka
51   1798                 Sri Lanka
52   1799                 Sri Lanka
53   1800                 Sri Lanka
54   1801                 Sri Lanka
55   1802                 Sri Lanka
56   1803                 Sri Lanka
57   1804                 Sri Lanka
58   1805                 Sri Lanka
59   1806                 Sri Lanka
60   1807                 Sri Lanka
61   1808                   Algeria
62   1809                   Algeria
63   1810                   Algeria
64   1811            Western Sahara
65   1812            Western Sahara
66   1813                 Sri Lanka
67   1814                 Sri Lanka
68   1815                 Sri Lanka
69   1816                 Sri Lanka
70   1817                 Sri Lanka
71   1818                 Sri Lanka
72   1819                     Niger
73   1820                 Sri Lanka
74   1821                     Niger
75   1822                 Sri Lanka
76   1823                 Sri Lanka
77   1824                     Aruba
78   1825                     Aruba
79   1826                     Aruba
80   1827                     Aruba
81   1828                     Aruba
82   1829                     Aruba
83   1830  Turks and Caicos Islands
84   1831                 Sri Lanka
85   1832                 Sri Lanka
86   1833                 Sri Lanka
87   1834            Cayman Islands
88   1835                 Sri Lanka
89   1836                 Sri Lanka
90   1837                     Haiti
91   1838                 Sri Lanka
92   1839                 Sri Lanka
93   1840                 Sri Lanka
94   1841                  Cambodia
95   1842            Cayman Islands
96   1843      United Arab Emirates
97   1844                 Sri Lanka
98   1845                     Aruba
99   1846                     Aruba
100  1847                     Aruba
101  1848                     Aruba
102  1849                      Mali
103  1850                      Mali
104  1851                      Mali
105  1852                Mauritania
106  1853                     Aruba
107  1854                Mauritania
108  1855                     Aruba
109  1856                     Benin
110  1857                      Mali
111  1858                      Mali
112  1859                      Mali
113  1860                      Mali
114  1861                      Mali
115  1862                      Mali
116  1863                      Mali
117  1864                  Djibouti
118  1865                      Mali
119  1866                   Senegal
120  1867                Mauritania
121  1868                     Aruba
122  1869                     Aruba
123  1870                      Mali
124  1871                     Aruba
125  1872                     Aruba
126  1873                      Mali
127  1874                      Mali
128  1875                  Djibouti
129  1876                  Djibouti
130  1877                  Djibouti
131  1878                  Djibouti
132  1879                      Mali
133  1880                  Djibouti
134  1881                      Mali
135  1882                  Djibouti
136  1883                   Senegal
137  1884              Burkina Faso
138  1885                  Djibouti
139  1886                  Djibouti
140  1887                  Djibouti
141  1888                  Djibouti
142  1889                  Djibouti
143  1890                  Djibouti
144  1891                  Djibouti
145  1892                  Djibouti
146  1893                  Djibouti
147  1894                  Djibouti
148  1895                  Djibouti
149  1896                  Djibouti
150  1897                  Djibouti
151  1898                  Djibouti
152  1899                  Djibouti
153  1900                  Djibouti
154  1901                  Djibouti
155  1902                  Djibouti
156  1903                  Djibouti
157  1904                  Djibouti
158  1905                  Djibouti
159  1906                  Djibouti
160  1907                  Djibouti
161  1908                  Djibouti
162  1909                  Djibouti
163  1910                  Djibouti
164  1911                  Djibouti
165  1912                      Mali
166  1913                      Mali
167  1914                  Djibouti
168  1915                  Djibouti
169  1916                  Djibouti
170  1917                      Mali
171  1918                  Djibouti
172  1919                  Djibouti
173  1920                  Djibouti
174  1921                  Djibouti
175  1922                      Mali
176  1923                      Mali
177  1924                      Mali
178  1925                      Mali
179  1926                  Djibouti
180  1927                  Djibouti
181  1928                  Djibouti
182  1929                  Djibouti
183  1930                      Mali
184  1931                      Mali
185  1932                      Mali
186  1933                  Djibouti
187  1934                  Djibouti
188  1935                  Djibouti
189  1936                  Djibouti
190  1937                      Mali
191  1938                  Djibouti
192  1939                  Djibouti
193  1940                  Djibouti
194  1941                  Djibouti
195  1942                  Djibouti
196  1943                  Djibouti
197  1944                  Djibouti
198  1945                  Djibouti
199  1946                  Djibouti
200  1947                  Djibouti
201  1948                  Djibouti
202  1949                      Mali
203  1950                  Djibouti
204  1951                  Djibouti
205  1952                  Djibouti
206  1953                  Djibouti
207  1954                  Djibouti
208  1955                      Mali
209  1956                      Mali
210  1957                  Djibouti
211  1958                  Djibouti
212  1959                  Djibouti
213  1960                  Djibouti
214  1961                  Djibouti
215  1962                  Djibouti
216  1963                  Djibouti
217  1964                  Djibouti
218  1965                  Djibouti
219  1966                  Djibouti
220  1967                  Djibouti
221  1968                  Djibouti
222  1969                      Mali
223  1970                  Djibouti
224  1971                  Djibouti
225  1972                  Djibouti
226  1973                  Djibouti
227  1974                  Djibouti
228  1975                  Djibouti
229  1976                  Djibouti
230  1977                  Djibouti
231  1978                  Djibouti
232  1979                  Djibouti
233  1980                  Djibouti
234  1981                      Mali
235  1982                  Djibouti
236  1983                      Mali
237  1984                      Mali
238  1985                      Mali
239  1986                  Djibouti
240  1987                      Mali
241  1988                  Djibouti
242  1989                  Djibouti
243  1990                      Mali
244  1991                  Djibouti
245  1992                  Djibouti
246  1993                      Mali
247  1994                  Djibouti
248  1995                  Djibouti
249  1996                      Mali
250  1997                  Djibouti
251  1998                  Djibouti
252  1999                  Djibouti
253  2000                  Djibouti
254  2001                  Djibouti
255  2002                  Djibouti
256  2003                  Djibouti
257  2004                  Djibouti
258  2005                  Djibouti
259  2006                  Djibouti
260  2007                  Djibouti
261  2008                  Djibouti
262  2009                  Djibouti
263  2010                      Mali
264  2011                  Djibouti
265  2012                  Djibouti
266  2013                  Djibouti

### Which countries where the hottest how often between 1988 and 2013?

In [24]:
query = """SELECT c.country_or_area, count(*)
           FROM temperatures t JOIN 
                country_or_area c ON t.country_or_area_id = c.country_or_area_id
Countries           WHERE t.rank = 1.0 AND year BETWEEN 1988 AND 2013
           GROUP BY c.country_or_area;
        """

df = pd.read_sql(query, conn)
df

  country_or_area  count
0        Djibouti     22
1            Mali      4

### Which countries where the hottest for each year? (1988 to 2013)

In [42]:
query = '''
 SELECT rt.year, rt.temperature, c.country_or_area FROM (
    SELECT temperatures.*, 
    rank() OVER (
        PARTITION BY year, temperature
    )
    FROM temperatures
    WHERE rank = 1
  ) rt JOIN country_or_area c ON rt.country_or_area_id = c.country_or_area_id
  WHERE year BETWEEN 1988 AND 2013
  ORDER BY year;
    
'''
df = pd.read_sql(query, conn)
df

    year  temperature country_or_area
0   1988    29.531833        Djibouti
1   1989    28.797000        Djibouti
2   1990    29.321083            Mali
3   1991    29.289417        Djibouti
4   1992    28.999000        Djibouti
5   1993    28.966500            Mali
6   1994    29.062333        Djibouti
7   1995    29.259750        Djibouti
8   1996    29.252583            Mali
9   1997    29.269333        Djibouti
10  1998    29.780500        Djibouti
11  1999    29.371500        Djibouti
12  2000    29.860000        Djibouti
13  2001    29.476917        Djibouti
14  2002    29.531583        Djibouti
15  2003    29.757833        Djibouti
16  2004    29.540917        Djibouti
17  2005    29.808583        Djibouti
18  2006    29.777417        Djibouti
19  2007    29.786333        Djibouti
20  2008    29.339250        Djibouti
21  2009    29.896750        Djibouti
22  2010    30.127083            Mali
23  2011    29.844333        Djibouti
24  2012    29.923583        Djibouti
25  2013    30.744750        Djibouti

# Questions only concerning commodity data

## What is the top exported/imported commodity for specific country and year?

In [45]:
year = 2010
country = 'Mali'
flow = flow

query = """SELECT ca.category_name, commodity_name, trade_usd
           FROM trades t JOIN commodities c 
                           ON t.commodity_id = c.commodity_id
                         JOIN flows f
                           ON t.flow_id = f.flow_id
                         JOIN categories ca 
                           ON c.category_id = ca.category_id
                         JOIN country_or_area co
                           ON t.country_or_area_id = co.country_or_area_id
           WHERE t.year = {}                 AND 
                 co.country_or_area = '{}' AND 
                 f.flow_type = '{}'      AND
                 ca.category_name != 'all_commodities'
           ORDER BY trade_usd DESC
           LIMIT 1
        
""".format(year, country, flow)
df = pd.read_sql(query, conn)
df

     category_name                                   commodity_name   trade_usd
0  01_live_animals  Bovine animals, live, except pure-bred breeding  48626300.0

# Questions using both temperature and commodity data

##  What is the main commodity imported/exported by trade_usd by the hottest countries?

In [39]:
flow = 'Import'
query = '''
SELECT t.year, c.country_or_area, te.rank, co.commodity_name, t.trade_usd
FROM
( SELECT * 
    FROM trades WHERE (year, country_or_area_id, trade_usd) IN 
    ( SELECT year, country_or_area_id, MAX(trade_usd)
      FROM trades
      WHERE commodity_id != 21
      GROUP BY year, country_or_area_id
    )
) as t JOIN country_or_area c ON t.country_or_area_id = c.country_or_area_id
       JOIN temperatures te ON t.temperature_id = te.temperature_id
       JOIN commodities co ON t.commodity_id = co.commodity_id
       JOIN flows f ON t.flow_id = f.flow_id
WHERE te.rank BETWEEN 1 AND 2 AND flow_type = '{}'
ORDER BY t.year;
'''.format(flow)


df = pd.read_sql(query, conn)
print(len(df))
df

14

    year country_or_area  rank                                     commodity_name     trade_usd
0   1996            Mali   1.0  Oils petroleum, bituminous, distillates, excep...  1.207893e+08
1   1997            Mali   2.0  Oils petroleum, bituminous, distillates, excep...  1.390925e+08
2   1998            Mali   2.0  Oils petroleum, bituminous, distillates, excep...  1.287079e+08
3   2000            Mali   2.0  Oils petroleum, bituminous, distillates, excep...  1.874841e+08
4   2001            Mali   2.0  Oils petroleum, bituminous, distillates, excep...  1.842116e+08
5   2002            Mali   2.0  Oils petroleum, bituminous, distillates, excep...  1.569125e+08
6   2003            Mali   2.0  Oils petroleum, bituminous, distillates, excep...  2.166991e+08
7   2004            Mali   2.0  Oils petroleum, bituminous, distillates, excep...  2.818333e+08
8   2005            Mali   2.0  Oils petroleum, bituminous, distillates, excep...  3.656831e+08
9   2006            Mali   2.0  Oils petroleum, bituminous, distillates, excep...  4.248660e+08
10  2007            Mali   2.0  Oils petroleum, bituminous, distillates, excep...  4.702433e+08
11  2008            Mali   2.0  Oils petroleum, bituminous, distillates, excep...  6.974166e+08
12  2010            Mali   1.0  Oils petroleum, bituminous, distillates, excep...  1.201246e+09
13  2011            Mali   2.0  Oils petroleum, bituminous, distillates, excep...  9.611072e+08

##  What is the main commodity imported/exported by trade_usd by the coldest countries?

In [40]:
flow = 'Export'

query = '''
SELECT t.year, c.country_or_area, te.rank, co.commodity_name, t.trade_usd
FROM
( SELECT * 
    FROM trades WHERE (year, country_or_area_id, trade_usd) IN 
    ( SELECT year, country_or_area_id, MAX(trade_usd)
      FROM trades
      WHERE commodity_id != 21
      GROUP BY year, country_or_area_id
    )
) as t JOIN country_or_area c ON t.country_or_area_id = c.country_or_area_id
       JOIN temperatures te ON t.temperature_id = te.temperature_id
       JOIN commodities co ON t.commodity_id = co.commodity_id
       JOIN flows f ON t.flow_id = f.flow_id
WHERE te.rank BETWEEN 235 AND 236 AND flow_type = '{}'
ORDER BY t.year;
'''.format(flow)
df = pd.read_sql(query, conn)
df

    year country_or_area   rank                             commodity_name    trade_usd
0   1994       Greenland  235.0  Shrimps and prawns, prepared or preserved   92983504.0
1   1995       Greenland  235.0  Shrimps and prawns, prepared or preserved  118630600.0
2   1996       Greenland  235.0  Shrimps and prawns, prepared or preserved  114697712.0
3   1997       Greenland  235.0  Shrimps and prawns, prepared or preserved   78629600.0
4   1998       Greenland  235.0  Shrimps and prawns, prepared or preserved   73013232.0
5   1999       Greenland  235.0  Shrimps and prawns, prepared or preserved   70135949.0
6   2000       Greenland  235.0  Shrimps and prawns, prepared or preserved   68821315.0
7   2001       Greenland  235.0  Shrimps and prawns, prepared or preserved   60707450.0
8   2002       Greenland  235.0  Shrimps and prawns, prepared or preserved   67786863.0
9   2003       Greenland  235.0  Shrimps and prawns, prepared or preserved   71428840.0
10  2004       Greenland  235.0  Shrimps and prawns, prepared or preserved   96721076.0
11  2005       Greenland  235.0  Shrimps and prawns, prepared or preserved  118301413.0